<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.cndym.servlet.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/classes/applicationContext.xml</param-value>
  </context-param>
  <filter>
    <filter-name>ManagesPermitFilter</filter-name>
    <filter-class>com.cndym.servlet.manages.ManagesPermitFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ManagesPermitFilter</filter-name>
    <url-pattern>/manages/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CooPermitFilter</filter-name>
    <filter-class>com.cndym.servlet.coop.CoopPermitFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CooPermitFilter</filter-name>
    <url-pattern>/coop/*</url-pattern>
  </filter-mapping>
  <!-- <listener>
    <listener-class>com.cndym.servlet.InitSpringListener</listener-class>
  </listener> -->
  <listener>
    <listener-class>com.cndym.servlet.AppStartListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>Code</servlet-name>
    <servlet-class>com.cndym.servlet.Code</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Code</servlet-name>
    <url-pattern>/code.jpg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AppRequest</servlet-name>
    <servlet-class>com.cndym.servlet.AppRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppRequest</servlet-name>
    <url-pattern>/interface</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BonusNoticeServlet</servlet-name>
    <servlet-class>com.cndym.servlet.BonusNoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BonusNoticeServlet</servlet-name>
    <url-pattern>/bonusNotice</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SendWinIntlServlet</servlet-name>
    <servlet-class>com.cndym.servlet.manages.SendWinIntlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendWinIntlServlet</servlet-name>
    <url-pattern>/sendWinIntl</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>IssueManagesServlet</servlet-name>
    <servlet-class>com.cndym.servlet.manages.IssueManagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueManagesServlet</servlet-name>
    <url-pattern>/manages/issueManagesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BulidIssueServlet</servlet-name>
    <servlet-class>com.cndym.servlet.manages.BulidIssueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BulidIssueServlet</servlet-name>
    <url-pattern>/manages/bulidIssueServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CalculateAwardServlet</servlet-name>
    <servlet-class>com.cndym.servlet.manages.CalculateAwardManagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculateAwardServlet</servlet-name>
    <url-pattern>/manages/calculateAwardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PurviewGroupServlet</servlet-name>
    <servlet-class>com.cndym.servlet.manages.PurviewGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurviewGroupServlet</servlet-name>
    <url-pattern>/manages/purviewGroupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SystemManagesServlet</servlet-name>
    <servlet-class>com.cndym.servlet.manages.SystemManagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemManagesServlet</servlet-name>
    <url-pattern>/manages/systemManagesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OpenAwardManagesServlet</servlet-name>
    <servlet-class>com.cndym.servlet.manages.OpenAwardManagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenAwardManagesServlet</servlet-name>
    <url-pattern>/manages/openAward</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendWinManagesServlet</servlet-name>
    <servlet-class>com.cndym.servlet.manages.SendWinManagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendWinManagesServlet</servlet-name>
    <url-pattern>/manages/sendWinManagesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccountManagesServlet</servlet-name>
    <servlet-class>com.cndym.servlet.manages.AccountManagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountManagesServlet</servlet-name>
    <url-pattern>/manages/accountManagesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberManagesServlet</servlet-name>
    <servlet-class>com.cndym.servlet.manages.MemberManagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberManagesServlet</servlet-name>
    <url-pattern>/manages/memberManagesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostTicketServlet</servlet-name>
    <servlet-class>com.cndym.admin.servlet.manages.PostTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostTicketServlet</servlet-name>
    <url-pattern>/manages/postTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TicketManagesServlet</servlet-name>
    <servlet-class>com.cndym.servlet.manages.TicketManagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketManagesServlet</servlet-name>
    <url-pattern>/manages/ticketManagesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminManagesServlet</servlet-name>
    <servlet-class>com.cndym.admin.servlet.manages.AdminManagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminManagesServlet</servlet-name>
    <url-pattern>/manages/adminManages</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubTicketManagesServlet</servlet-name>
    <servlet-class>com.cndym.servlet.manages.SubTicketManagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubTicketManagesServlet</servlet-name>
    <url-pattern>/manages/subTicketManagesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CountServlet</servlet-name>
    <servlet-class>com.cndym.servlet.manages.CountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountServlet</servlet-name>
    <url-pattern>/manages/countServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WinManagesServlet</servlet-name>
    <servlet-class>com.cndym.servlet.manages.SendWinManagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WinManagesServlet</servlet-name>
    <url-pattern>/manages/winManagesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubIssueForJingCaiServlet</servlet-name>
    <servlet-class>com.cndym.servlet.SubIssueForJingCaiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubIssueForJingCaiServlet</servlet-name>
    <url-pattern>/subIssueForJingCai</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CoopServlet</servlet-name>
    <servlet-class>com.cndym.servlet.coop.CoopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CoopServlet</servlet-name>
    <url-pattern>/coop/cooperationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OutDataServlet</servlet-name>
    <servlet-class>com.cndym.servlet.manages.OutDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OutDataServlet</servlet-name>
    <url-pattern>/manages/outData</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CoopOutDataServlet</servlet-name>
    <servlet-class>com.cndym.servlet.coop.OutDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CoopOutDataServlet</servlet-name>
    <url-pattern>/coop/outData</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagesLoginServlet</servlet-name>
    <servlet-class>com.cndym.servlet.ManagesLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagesLoginServlet</servlet-name>
    <url-pattern>/managesLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReloadConfigServlet</servlet-name>
    <servlet-class>com.cndym.servlet.ReloadConfigServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReloadConfigServlet</servlet-name>
    <url-pattern>/reloadConfig</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReloadConfigServlet1</servlet-name>
    <servlet-class>com.cndym.servlet.magages/ReloadConfigServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReloadConfigServlet1</servlet-name>
    <url-pattern>/manages/reloadConfig</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BalanceServlet</servlet-name>
    <servlet-class>com.cndym.servlet.coop.BalanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BalanceServlet</servlet-name>
    <url-pattern>/coopBalanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>issueOpenAwardServlet</servlet-name>
    <servlet-class>com.cndym.servlet.IssueOpenAwardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>issueOpenAwardServlet</servlet-name>
    <url-pattern>/issueOpenAwardInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>zzcIssueSaleInfoServlet</servlet-name>
    <servlet-class>com.cndym.servlet.ZzcIssueSaleInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>zzcIssueSaleInfoServlet</servlet-name>
    <url-pattern>/zzcIssueSaleInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fcbyNoticServlet</servlet-name>
    <servlet-class>com.cndym.servlet.notice.fcby.FcbyNoticServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fcbyNoticServlet</servlet-name>
    <url-pattern>/fNotic</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>whtcNoticeServlet</servlet-name>
    <servlet-class>com.cndym.servlet.notice.WhtcNoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>whtcNoticeServlet</servlet-name>
    <url-pattern>/wNotice</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ahtcNoticeServlet</servlet-name>
    <servlet-class>com.cndym.servlet.notice.AhtcNoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ahtcNoticeServlet</servlet-name>
    <url-pattern>/aNotice</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>handTicketFailedServlet</servlet-name>
    <servlet-class>com.cndym.servlet.HandTicketFailedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>handTicketFailedServlet</servlet-name>
    <url-pattern>/htf</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>balanceServlet</servlet-name>
    <servlet-class>com.cndym.servlet.BalanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>balanceServlet</servlet-name>
    <url-pattern>/balanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReloadControlWeightServlet</servlet-name>
    <servlet-class>com.cndym.servlet.manages.ReloadControlWeightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReloadControlWeightServlet</servlet-name>
    <url-pattern>/manages/controlWeight</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChartServlet</servlet-name>
    <servlet-class>com.cndym.servlet.manages.chart.ChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChartServlet</servlet-name>
    <url-pattern>/ChartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendClientServlet</servlet-name>
    <servlet-class>com.cndym.admin.servlet.manages.SendClientPostCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendClientServlet</servlet-name>
    <url-pattern>/SendClientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TicketNoticeServlet</servlet-name>
    <servlet-class>com.cndym.servlet.notice.TicketNoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketNoticeServlet</servlet-name>
    <url-pattern>/ticketNoticeServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>CheckTicketManagesServlet</servlet-name>
    <servlet-class>com.cndym.servlet.manages.CheckTicketManagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckTicketManagesServlet</servlet-name>
    <url-pattern>/manages/checkTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostManagesServlet</servlet-name>
    <servlet-class>com.cndym.servlet.manages.post.PostManagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostManagesServlet</servlet-name>
    <url-pattern>/manages/postManagesServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>